#slideshow {
  height: 600px;
  text-align: center;
}

.slideshowImage {
  width: 800px;
  border: 7px solid #eee8e5;
  box-shadow: 4px 4px 10px #79675d;
}

#previous {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#next {
  background-color: black;
  color: white;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  text-align: center;
}
#buttonContainer {
  width: 800px;
  text-align: center;
}
